*/*.txt
*/*.pdf
*/*.fits
*/*.tmp
*/*/*.txt
*/*/*.pdf
*/*/*.fits
*/*/*.tmp
*.txt
*.pdf
*.fits
*.tmp
.DS_Store
*/.DS_Store
._.DS_Store
*/._.DS_Store
!salt2-guy2010-parameters.txt
*/*.lprof
*/._*
*/*.so*
*.pyc
__pycache__/*